

.dropdown-menu {
	 height: 350px;
     width: 100%;
    padding: 0;
    transform: translate3d(0px, 90px, 0px) !important;
   	margin-left: auto;
      margin-right: auto;
}


.react-calendar { 
 height: 350px;
 max-width: 100%;
 background-color: #fff;
 color: #222;
 border-radius: 0.75rem;
 box-shadow: 0px -12px 12px 0px rgba(0, 0, 0, 0.15), 0px 12px 12px 0px rgba(0, 0, 0, 0.15);
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.125em;
}

@media only screen and (max-width: 600px) {
   .react-calendar {
   	postion: relative;
   	width: 100%;
   	margin-left: auto;
      margin-right: auto;
   }


}









.react-calendar__navigation {
	height: 70px;
}


.react-calendar__navigation__label {
   font-size: 30px;
   position: relative; 
   bottom: 10%;
         text-color: black;
}


@media only screen and (max-width: 845px) {
   .react-calendar__navigation__label {
   font-size: 25px !important;
 }
}


@media only screen and (max-width: 392px) {
   .react-calendar__navigation__label {
   font-size: 15px !important;
 }
}

@media only screen and (max-width: 296px) {
   .react-calendar__navigation__label {
   font-size: 13px !important;
 }
}






.react-calendar__month-view__weekdays {
	height: 30px;
}

.react-calendar__viewContainer, .react-calendar__month-view, .react-calendar__month-view__days{
	height: 250px;
}

.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button {
	display: none;
}

.react-calendar__navigation__next-button, .react-calendar__navigation__prev-button {
	height: 50px;
	width: 50px;
	font-size: 300%;
	background-color: black;
	color: white;
	border: 2px solid black;
	border-radius: 12px;
}

.react-calendar__navigation button {
 margin: 10px;
}

@media only screen and (max-width: 316px) {
  .react-calendar__navigation__next-button, .react-calendar__navigation__prev-button {
	height: 40px;
	width: 40px !important;
}
}




.react-calendar__navigation__next-button:hover {
 background-color: gray;
}

.react-calendar__navigation__prev-button:hover {
 background-color: gray;
}

.react-calendar__navigation button[disabled] {
 background-color: #f0f0f0;
}
abbr[title] {
 text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background: #f8f8fa;
 color: #6f48eb;
 border-radius: 6px;
}
.react-calendar__tile--now {
 background: #6f48eb33;
 border-radius: 6px;
 font-weight: bold;
 color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 background: #6f48eb33;
 border-radius: 6px;
 font-weight: bold;
 color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: #f8f8fa;
}
.react-calendar__tile--active {
 background: #6f48eb;
 border-radius: 6px;
 font-weight: bold;
 color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
 background: #6f48eb;
 color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
 background-color: #f8f8fa;
}
.react-calendar__tile--range {
 background: #f8f8fa;
 color: #6f48eb;
 border-radius: 0;
}
.react-calendar__tile--rangeStart {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 border-top-left-radius: 6px;
 border-bottom-left-radius: 6px;
 background: #6f48eb;
 color: white;
}
.react-calendar__tile--rangeEnd {
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 border-top-right-radius: 6px;
 border-bottom-right-radius: 6px;
 background: #6f48eb;
 color: white;
}